@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0px; padding: 0px; box-sizing: border-box;}                                                                          

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
}
.container {
  width: 95%; margin: auto;
}

header .top-strip{}



.link:hover {
  color: #FF5252;
}

.MuiBadge-badge{background-color: #FF5252 !important;
}
nav ul button {text-transform: capitalize !important;
}
